
header {
  background: white;
  text-align: right;
  padding: 20px;
  width: 100%;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  z-index: 900000000;
  position: fixed;
  top: 0;
  left: 0;
}

header a {
  color: var(--primary-color);
  cursor: pointer;
  margin: 50px;
  padding: 10px;
}

header .search {
  display: inline-block;
  margin: 0;
}

header .search-button {
  margin: 0;
  padding: 0;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  padding: 5px;
}

header a:hover {
  border-bottom: 1px solid var(--primary-color);
}

header img {
  cursor: pointer;
  height: 30px;
  float: left;
}

header .logout {
  color: var(--light-grey);
}
