.profile {
    position: relative;
    background: transparent;
    width: 300px;
    height: 500px;
    margin: auto;
    margin-bottom: 50px;
    border-radius: 10px;
    padding: 10px;
    padding-top: 30px;
}

.profile .background {
  position: absolute;
  z-index: 1;
  border-radius: 10px;
  border: 10px solid var(--prof);
  height: 100%;
  width: 100%;
  display: block;
}

.profile .info {
  position: absolute;
  text-align: left;
  z-index: 2;
  bottom: 0;
  left: 30px;
}

.profile .info h4 {
  display: inline-block;
  vertical-align: middle;
  color: white;
  padding-left: 10px;
}

.profile .picture {
  height: 80px;
  border-radius: 50%;
  border: 5px solid var(--prof-border);
}

.profile .info h1 {
  text-align: left;
  color: white;
}
