.profile {
    background-color: white;
    width: 300px;
    height: 500px;
    margin: auto;
    margin-bottom: 50px;
    border-radius: 10px;
    padding: 10px;
    padding-top: 30px;
}

.profile .background {
  border-radius: 10px;
  display: block;
  margin: auto;
}

.profile .picture {
  height: 80px;
  border-radius: 50%;
  border: 5px solid var(--prof-border);
}
