
.logo {
  height: 100px;
  vertical-align: middle;
}

.login-button {
  font-size: 0.3em;
  font-family: 'Lato', sans-serif;
  color: var(--light-grey);
  float: right;
  padding: 10px;
}

.login-button:hover {
  border-bottom: 1px solid var(--light-grey);
}

.landing-page article {
  text-align: center;
  margin: auto;
  background: white;
  width: 90%;
  max-width: 750px;
  border-radius: 10px;
  padding: 50px;
  margin-top: 50px;
}

.landing-page article p {
  line-height: 50px;
  text-align: left;
  letter-spacing: 1px;
}

.landing-page article .picture {
  height: 200px;
}

.landing-page article h3 {
  color: var(--primary-color);
  font-size: 1.53em;
}

.landing-page h1 {
  font-size: 4.5em;
  text-align: left;
  color: white;
}

.picture {
  text-align: center;
  vertical-align: middle;
  margin: auto;
}
