
.logo {
  height: 100px;
  vertical-align: middle;
}

.login-button {
  vertical-align: middle;
  float: right;
  font-size: 0.5em;
  cursor: pointer;
  color: black; 
  margin-right: 50px;
  background-color: var(--secondary-color);
  padding: 10px;
  border-radius: 20px;
  box-shadow: 21px 19px 20px -3px rgba(0,0,0,0.76);
  -webkit-box-shadow: 21px 19px 20px -3px rgba(0,0,0,0.76);
  -moz-box-shadow: 21px 19px 20px -3px rgba(0,0,0,0.76);
}

.login-button:hover { 
  color: white;
}


.landing-page article {
  text-align: center;
  margin: auto;
  background: white;
  width: 90%;
  max-width: 750px;
  border-radius: 10px;
  padding: 50px;
  margin-top: 50px;
}

.landing-page article p {
  line-height: 50px;
  text-align: left;
  letter-spacing: 1px;
}

.landing-page article .picture {
  height: 200px;
}

.landing-page article h3 {
  color: var(--primary-color);
  font-size: 1.53em;
}

.landing-page h1 {
  font-size: 4.5em;
  text-align: left;
  color: white;
}

.picture {
  text-align: center;
  vertical-align: middle;
  margin: auto;
}
