body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

html, body {
  height: 100%;
}

body {
  background-color: #F8F8F8;
}

.card {
  background: #FFFFFF;
  border: 5px solid black;
  text-align: center;
  cursor: default;
  transition: all 0.2s ease;
  padding: 100px 50px;
  color: #666666;
}

.card:hover {
  color: red;
  border: 5px solid red;
}

.card.unfocus {
  opacity: 0.2;
}
